version: '3.4'

services:
  meetup.identityservice.api:
    image: ${DOCKER_REGISTRY-}meetupidentityserviceapi
    build:
      context: .
      dockerfile: MeetUp.IdentityService/MeetUp.IdentityService.Api/Dockerfile
    depends_on:
      - elasticsearch
      - meetupDb

  meetup.eventsservice.api:
    image: ${DOCKER_REGISTRY-}meetupeventsserviceapi
    build:
      context: .
      dockerfile: MeetUp.Ð•ventsService/MeetUp.EventsService.Api/Dockerfile
    depends_on:
      - elasticsearch
      - meetupDb

  meetupDb:
    image: mcr.microsoft.com/mssql/server:2019-latest

  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:7.16.1

  kibana:
    image: docker.elastic.co/kibana/kibana:7.16.1
    depends_on:
      - elasticsearch

  zookeeper:
    image: docker.io/bitnami/zookeeper:3.8

  kafka:
    image: docker.io/bitnami/kafka:3.4
    depends_on:
      - zookeeper
